<% if logged_in? %>
  <%= link_to 'ログアウト', logout_path, method: :delete, class: 'logout-button' %>
<% else %>
  <p><%= link_to 'ログイン', login_path %></p>
  <p><%= link_to '新規登録', signup_path %></p>
<% end %>

<h1>ゲームタイトル一覧</h1>
<% @games.each do |game| %>
  <div>
    <h3><%= link_to game.title, game_path(game) %></h3> <!-- ゲーム詳細ページへのリンク -->
    <p><%= game.description %></p> <!-- ゲームの説明（任意） -->
  </div>
<% end %>